body{
    background-color: burlywood;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    line-height: 0em;
}

.network_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 0em;
}

canvas{
    border: 2px solid black;
}